<h1><%= @team.name %></h1> 

<div class="row justify-content-center mt-4">
  <div class="col-6">
    <%= link_to "#{@tournament.name} 申込", entries_team_path(tournament_id: @tournament.id), class: "btn btn-block btn-primary" %> 
  </div>
</div>

<h2 class="mt-5 mb-4">現在の申込状況</h2>
<div class="row justify-content-center mt-5">
  <% @tournament_classes.each do |tournament_class| %>
    <div class="col-3">
      <h3><%= tournament_class.name %></h3>
      <% if tournament_class.players.empty? %>
        申込者はいません
      <% else %>
        <table class="table">
          <tr>
            <th>氏名</th>
            <th>キャンセル</th>
          </tr>
          <%= render partial: 'shared/player', collection: tournament_class.players %>
        </table>
      <% end %>
    </div>
  <% end %>
</div>
