<h1>京都大会詳細</h1>

<div class="row justify-content-center">
  <div class="col-6">
    <table class="table">
      <tr>
        <th>開催日</th>
        <td>2018年12月16日</td>
      </tr>
      <tr>
        <th>当日締切時刻</th>
        <td>9時15分</td>
      </tr>
      <tr>
        <th>開催級</th>
        <td>C級, D級, E級</td>
      </tr>
      <tr>
        <th>主管かるた会</th>
        <td>京都小倉かるた会</td>
      </tr>
      <tr>
        <th>大会会場</th>
        <td>同志社女子大学今出川キャンパス純正館</td>
      </tr>
      <tr>
        <th>第二会場</th>
        <td>東寺洛南会館</td>
      </tr>
      <tr>
        <th>参加費</th>
        <td>C級 2000円<br>
            D級 1800円<br>
            E級 1200円
        </td>
      </tr>
      <tr>
        <th>事前参加登録締切日</th>
        <td>2018年11月17日</td>
      </tr>
    </table>
  </div>
</div>
