<% provide :title, "お問い合せ" %>
<h1>お問い合わせ</h1>
<div class="row justify-content-center">
  <div class="col-8">
    <h3 class="mt-5">このサイトに関するお問い合わせ先</h3>
    <p><%= ENV["DEVELOPER_EMAIL"] %></p>

    <h3 class="mt-5"><%= default_tournament.name %>に関するお問い合わせ先</h3>
    <p>大会案内をご参照くださいませ</p>
  </div>
</div>


