<h1>第72回競技かるた京都大会</h1>

<p>
  <%= @team.name %> 様
</p>
<p>
  当サイトへの仮登録ありがとうございます. 以下のリンクをクリックして, アカウントの有効化をしてください.
</p>

<p>
  <%= link_to "アカウントの有効化", account_activation_url(@team.activation_token, email: @team.email) %>
</p>
